h1{
    /*background-image: url("Fondorarohead.jpeg")  ;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: scroll;*/
    /*background-position: 50% 50%;*/
    /*background-size: 150% 100%;*/
    align-items: center;
    margin-left: 70px;
background-color(red);
    align-content: center;
    color:firebrick;
    font-family: revert;
    font-size: 3em;
    text-align:center;

}
#titulo{
    height: 120px;
    width: 1400px;
}
body{


}