table{
    border-spacing: 1px;
    background-color: rgba(186,0,12,0.99);
    box-shadow: rgba(23,8,31,0.85);
    box-shadow: 10px 10px;
    color: black;
    border-color: black;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    font-family: MathJax_Fraktur;
    font-size: x-large;
    border-collapse: collapse;
    text-align: center;

}
td{
    border-spacing: 10px;
    border-color:black;
    color: black;
    border: 3px solid black;
    border-collapse: collapse;
}
th{
    border-spacing: 10px;
    border-color: black;
    border: 3px solid black;
    border-collapse: collapse;




}
body {
    background: url("lluviasangre2.png"),no-repeat,center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;




}
h1,h2,li,p,ul,ol{
    background-color: rgba(186,0,12,0.99);
    background-size-contain: auto;
    border: 3px solid black;
    border-spacing: 10px;
    border-collapse: collapse;
    border-right-right: auto;
    word-wrap: break-word;
    text-rendering: auto;
    background-clip: border-box;
}
h1,h2{
    text-align: center;
    display: inline-block;
    position: center;
    font-family: MathJax_Fraktur;
}
p{
    text-align: center;
    display: inline-block;
    position: center;
    font-family: MathJax_Fraktur;
}
ul{
    text-align: left;
}
ol,li{

}

pre{
background-color: transparent;
}